* {
	font-family: 'Noto Serif', serif;
	background-color: #eeeeee;
	color: #101010;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	font-weight: bold;
}

hr {
	width: 100%;
}

.page_header {
	font-size: 40px;
	
	text-align: center;
}

.return {
	text-align: center;
	display: inline-block;
	font-size: 20px;
}

.content_section {
	margin: 0 auto;
	width: 80%;
}

.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.content_section hr {
	border: 0;
	border-top: 1px solid #c9c7c7;
	width: 100%;
}

.content_section_header {
	text-align: left;
	font-size: 24px;
}
